* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(218, 218, 218);
}

.container { 
    width: 30%; 
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.8;
    border-radius: 5px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 20px
}

input {
    border-style: double;
    border-radius: 5px;
}

h4 {
    text-align: center;
}

#username, #email, #address{
    width: 100%;
    height: 20px;
}

#submitButton {
    width: 100%;
    height: 25px;
    margin-top: 30px
}

#submitButton:hover {
    background-color: green;
    color: white;
    cursor: pointer;
    border: 1px solid rgb(0, 100, 0);
}